@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Page's general styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  color: #3a3a3a;
}
h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
}

/* Header's general styles */
header {
  background-color: white;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
header a {
  text-decoration: none;
  color: inherit;
}

/* Navbar styles */
nav {
  position: absolute;
  left: 0;
  background-color: white;
  padding: 0 1rem;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: none;
  top: 100%;
}
#menu {
  font-size: 110%;
  letter-spacing: 4px;
  list-style-type: none;
}
#menu > li {
  margin-bottom: 1em;
}
.active {
  border-bottom: 1px solid #3a3a3a;
}
#nav-toggle:checked~nav {
  display: block;
}
#nav-toggle {
  display: none;
}
.nav-toggle-label {
  font-size: 2rem;
}

/* <main> element styles */
main {
  flex: 1 0 auto;
  margin-top: 47px;
}

/* Hero image/cover text styles */
#hero {
  height: 600px;
  width: 100%;
  background: lightblue url("../images/hero-image.webp") center center/cover no-repeat;
  position: relative;
}
#cover-text {
  background-color: rgba(241, 109, 107, 0.7);
  font-size: 130%;
  position: absolute;
  bottom: 30px;
  width: 80%;
  min-height: 200px;
  padding: 40px 0 0 10px;
}
#cover-text > h2,
#cover-text > h3 {
  color: white;
}

/* Persuasive content section styles */
#reasons {
  width: 90%;
  margin: 20px auto;
}
#reasons h2 {
  text-align: center;
  font-size: 280%;
  margin-bottom: 20px;
}
#benefits-physical > div,
#benefits-mental > div {
  line-height: 20px;
  margin-bottom: 20px;
}
#benefits hr {
  border-top: 1px solid #3a3a3a;
  margin: 5px 0;
}
#benefits p {
  padding: 0 20px;
}
#benefits-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
#circle-cover-bg {
  height: 90vw;
  width: 90vw;
  background: url("../images/reasons-image.webp") center top/cover no-repeat;
  margin-bottom: 20px;
  border-radius: 50%;
  max-height: 300px;
  max-width: 300px;
}

/* Social media links styles */
#social-media {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
#social-media i {
  font-size: 160%;
  padding: 5%;
  color: #3a3a3a;
}

/* Media query: tablet */
@media screen and (min-width: 768px) {

  /* Logo styles */
  #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  /* Navbar styles */
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }
  #menu {
    display: flex;
  }
  #menu > li {
    padding-left: 1rem;
  }
  .nav-toggle-label {
    display: none;
  }

  /* <main> element styles */
  main {
    margin-top: 79px;
  }

  /* Hero image cover text styles */
  #cover-text {
    width: 300px;
    right: 50px;
  }
}

/* Media query: laptop */
@media screen and (min-width: 992px) {
  
  /* Navbar styles */
  #menu a:hover {
    border-bottom: 1px solid #3a3a3a;
  }
}